.slider {
  position: relative;
  padding: 40px 150px;
  background: #faf7ed;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 40px;
  :global {
    .slick-list {
      margin: 0 -10px;
      .slick-slide div {
        margin: 0 20px;
      }
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    h1 {
      color: rgb(71, 71, 71);
      font-size: 42px;
      font-weight: 500;
    }
    .header__right {
        display: flex;
        gap: 20px;
        cursor: pointer;
      p {
        color: rgb(0, 128, 96);
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}

.prev__arrow {
  position: absolute;
  top: 40%;
  left: -20px;
}

.next__arrow {
  position: absolute;
  top: 40%;
  right: 45px;
  @media (max-width: 1490px) {
    right: 30px;
  }
  @media (max-width: 1440px) {
    right: 10px;
  }
  @media (max-width: 1430px) {
    right: 43px;
  }
  @media (max-width: 1390px) {
    right: 30px;
  }
  @media (max-width: 1340px) {
    right: 15px;
  }
  @media (max-width: 1290px) {
    right: 30px;
  }
  @media (max-width: 1260px) {
    right: 20px;
  }

  @media (max-width: 1228px) {
    right: 18px;
  }
}

@media (max-width: 1430px) {
  .slider {
    padding: 40px 100px;
  }
}
@media (max-width: 1330px) {
  .slider {
    padding: 40px 80px;
  }
}

@media (max-width: 1290px) {
  .slider {
    padding: 40px 50px;
  }
}

@media (max-width: 1228px) {
  .slider {
    padding: 40px;
  }
}
