.header {
  padding: 19px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header_left {
    display: flex;
    align-items: center;
    hr {
      margin: 0 40px;
      width: 40px;
      background: rgb(169, 169, 169);
      transform: rotate(90deg);
    }
    h3 {
      color: rgb(71, 71, 71);
      font-size: 19px;
      font-weight: 600;
      cursor: pointer;
    }
    .header_links {
      display: flex;
      gap: 50px;
      a {
        color: rgb(71, 71, 71);
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        &:hover {
          color: rgb(0, 128, 96);
        }
      }
    }
  }
  .header_right {
    padding: 11px 20px;
    display: flex;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 3px;
    background: rgb(242, 242, 242);
    input {
      outline: none;
      border: none;
      background: rgb(242, 242, 242);
      &:focus {
        width: 350px;
      }
    }
  }
}
