.tour {
  background: white;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  width: 363px;
  height: auto;
  border-radius: 3px;
  position: relative;
  img {
    width: 100%;
    border-radius: 3px;
  }
  .tour__days {
    display: flex;
    position: absolute;
    right: 0px;
    cursor: pointer;
    b {
      border-radius: 0px 3px 0px 32px;
      padding: 24px 15px;
      background: #ffffff;
      font-size: 15px;
      font-weight: 600;
      line-height: normal;
      color: #008060;
    }
  }
  .tour__bottom {
    padding: 15px 20px;
    .bottom__title {
      cursor: pointer;
      p {
        margin-bottom: 4px;
        color: rgb(134, 134, 134);
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
      }
      h3 {
        padding-bottom: 14px;
        color: rgb(71, 71, 71);
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        border-bottom: 1px solid rgb(220, 220, 220);
      }
    }
    .bottom__choice {
      p {
        margin: 14px 0 10px 0;
        color: rgb(134, 134, 134);
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
      }
      .bottom__choice_btns {
        display: flex;
        justify-content: space-between;
        button {
          padding: 7px 18px;
          color: rgb(0, 128, 96);
          font-size: 15px;
          font-weight: 400;
          box-sizing: border-box;
          border: 1px solid rgb(42, 206, 165);
          border-radius: 3px;
          background: rgb(255, 255, 255);
          cursor: pointer;
          &:hover {
            background: rgb(0, 128, 96);
            color: white;
          }
        }
      }
    }
  }
}

.destination {
  width: 363px;
  border-radius: 3px;
  background: rgb(255, 255, 255);
  position: relative;
  @media (max-width: 1360px) {
    width: 350px;
  }
  @media (max-width: 1165px) {
    width: 330px;
  }
  @media (max-width: 1110px) {
    width: 320px;
  }
  @media (max-width: 1080px) {
    width: 300px;
  }
  @media (max-width: 995px) {
    width: 280px;
  }
  .destination__days {
    margin: 0 !important;
    display: flex;
    position: absolute;
    right: 0;
    cursor: pointer;
    b {
      padding: 24px 15px;
      color: rgb(0, 128, 96);
      font-size: 15px;
      font-weight: 600;
      border-radius: 0px 3px 0px 32px;
      background: rgb(255, 255, 255);
    }
  }
  img {
    width: 100%;
  }
  .destination__bottom {
    padding: 15px 20px;
    cursor: pointer;
    @media (max-width: 995px) {
      padding: 13px 18px;
    }
    p {
      color: rgb(134, 134, 134);
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 4px;
      @media (max-width: 995px) {
        font-size: 13px;
      }
    }
    h3 {
      color: rgb(71, 71, 71);
      font-size: 18px;
      font-weight: 500;
      @media (max-width: 995px) {
        font-size: 17px;
      }
    }
  }
}

.review {
  padding: 20px;
  width: 364px;
  border: 1px solid rgb(169, 169, 169);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  @media (max-width: 1360px) {
    width: 350px;
  }
  @media (max-width: 1165px) {
    width: 330px;
  }
  @media (max-width: 1110px) {
    width: 320px;
  }
  @media (max-width: 1080px) {
    width: 300px;
  }
  @media (max-width: 995px) {
    width: 280px;
  }
  .review__header {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(220, 220, 220);
    cursor: pointer;
    @media (max-width: 1360px) {
      gap: 0px;
    }
    h3 {
      margin-bottom: 4px;
      color: rgb(71, 71, 71);
      font-size: 16px;
      font-weight: 600;
      @media (max-width: 1360px) {
        font-size: 14px;
      }
      @media (max-width: 1080px) {
        font-size: 12px;
      }
    }
    p {
      color: rgb(0, 128, 96);
      font-size: 14px;
      font-weight: 600;
      @media (max-width: 1360px) {
        font-size: 13px;
      }
      @media (max-width: 1080px) {
        font-size: 12px;
      }
    }
  }
  .review__description {
    margin: 20px 0;
    width: 100%;
    color: rgb(134, 134, 134);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    cursor: pointer;
    @media (max-width: 1080px) {
      font-size: 15px;
      line-height: 24px;
    }
  }
  button {
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;
    background: rgb(0, 76, 63);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    border: none;
    cursor: pointer;
  }
}

.team {
  width: 264px;
  background: rgb(0, 76, 63);
  @media (max-width: 1195px) {
    width: 250px;
  }
  @media (max-width: 1135px) {
    width: 235px;
  }
  @media (max-width: 1080px) {
    width: 225px;
  }
  @media (max-width: 1020px) {
    width: 215px;
  }
  @media (max-width: 995px) {
    width: 205px;
  }
  .team__image {
    margin-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
    @media (max-width: 1195px) {
      width: 250px;
    }
    @media (max-width: 1135px) {
      width: 235px;
    }
    @media (max-width: 1080px) {
      width: 225px;
    }
    @media (max-width: 1020px) {
      width: 215px;
    }
    @media (max-width: 995px) {
      width: 205px;
    }
  }
  .team__bottom {
    padding: 15px 10px;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    h3 {
      color: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 8px;
      @media (max-width: 1020px) {
        font-size: 15px;
      }
    }
    p {
      color: rgb(134, 134, 134);
      font-size: 14px;
      font-weight: 500;
      @media (max-width: 1020px) {
        font-size: 13px;
      }
    }
  }
}
