.header {
  position: relative;
  height: 60px;
  width: 100%;
  z-index: 1;
  position: fixed;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
  padding: 19px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  .header_left {
    display: flex;
    align-items: center;
    hr {
      margin: 0 20px;
      width: 40px;
      background: rgb(169, 169, 169);
      transform: rotate(90deg);
    }
    .header_left__a {
      color: rgb(71, 71, 71);
      font-size: 18px;
      font-weight: 700;
      text-decoration: none;
      cursor: pointer;
    }
    .header__links {
      display: flex;
      gap: 50px;
      align-items: center;
      .header_links__a {
        color: rgb(71, 71, 71);
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        transition: 0.3s ease-in-out;
        &:hover {
          color: rgb(0, 128, 96);
        }
      }
    }
  }
  .header_right {
    padding: 11px 20px;
    display: flex;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 3px;
    background: rgb(242, 242, 242);
    input {
      outline: none;
      border: none;
      background: rgb(242, 242, 242);
    }
  }
  .burgerImg {
    display: none;
    cursor: pointer;
  }
}
.active_select__a {
  color: rgb(0, 128, 96);
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  @media (max-width: 1000px) {
    font-size: 12px;
  }
  @media (max-width: 830px) {
    font-size: 11px;
  }
  @media (max-width: 765px) {
    padding: 15px 20px;
    color: rgb(71, 71, 71);
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid rgb(220, 220, 220);
  }
}

.burger {
  width: 100%;
  position: absolute;
  max-height: 200vh;
  overflow-y: scroll;
  display: flex;
  justify-content: end;
  top: 60px;
  right: 0px;
  background: rgb(0, 0, 0, 0.7);
  @media (min-width: 765px) {
    display: none;
  }
  .burger_header {
    width: 234px;
    box-shadow: -2px 0px 4px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    .burger_header__links {
      display: flex;
      flex-direction: column;
      :hover {
        background: rgba(0, 0, 0, 0.1);
      }
      .header_links__a {
        padding: 15px 20px;
        color: rgb(71, 71, 71);
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        border-bottom: 1px solid rgb(220, 220, 220);
        cursor: pointer;
      }
      .email {
        margin: 20px 15px;
        padding: 14px 22px;
        color: rgb(71, 71, 71);
        font-size: 12px;
        font-weight: 700;
        text-decoration: none;
        border: 2px solid rgb(71, 71, 71);
        cursor: pointer;
      }
    }
    .burger_footer {
      background: rgb(0, 76, 63);
      padding-bottom: 150%;
      p {
        padding: 20px 0 10px 20px;
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 600;
      }
      .burger__logos {
        padding: 15px 20px 16px 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 27px;
        img {
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 1260px) {
  .header {
    .header_left {
      hr {
        margin: 0 5px;
      }
      .header__links {
        gap: 30px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .header {
    .header_left {
      hr {
        margin: 0;
      }
      .header_left__a {
        font-size: 15px;
      }
      .header__links {
        gap: 22px;
        .header_links__a {
          font-size: 12px;
        }
      }
    }
    .header_right {
      padding: 9px 18px;
      input::placeholder {
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 930px) {
  .header {
    padding: 17px 40px;
  }
}

@media (max-width: 830px) {
  .header {
    .header_left {
      .header_left__a {
        font-size: 14px;
      }
      .header__links {
        gap: 17px;
        .header_links__a {
          font-size: 11px;
        }
      }
    }
    .header_right {
      padding: 7px 13px;
      input::placeholder {
        font-size: 11px;
      }
    }
  }
}

@media (max-width: 765px) {
  .header {
    padding: 16px 24px;
    .header_left {
      .header_left__a {
        font-size: 16px;
      }
      hr {
        display: none;
      }
      .header__links {
        display: none;
      }
    }
    .header_right {
      display: none;
    }
    .burgerImg {
      display: block;
    }
  }
}
