.slider {
  position: relative;
  background: rgb(0, 76, 63);
  padding: 40px 150px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  @media (max-width: 930px) {
    gap: 20px;
  }
  :global {
    .slick-list {
      margin: 0 -10px;
      .slick-slide div {
        margin: 0 20px;
      }
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    a {
      text-decoration: none;
    }
    .header_left {
      h1 {
        color: rgb(255, 255, 255);
        font-size: 42px;
        font-weight: 500;
        margin-bottom: 15px;
        @media (max-width: 930px) {
          font-size: 38px;
        }
        @media (max-width: 730px) {
          font-size: 36px;
        }
      }
      p {
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 400;
        width: 523px;
        @media (max-width: 930px) {
          font-size: 16px;
          width: 380px;
        }
      }
    }
    .header_right {
      display: flex;
      gap: 20px;
      cursor: pointer;
      p {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 500;
        @media (max-width: 930px) {
          font-size: 16px;
        }
      }
    }
  }
}

.prev__arrow {
  position: absolute;
  top: 40%;
  left: -20px;
}

.next__arrow {
  position: absolute;
  top: 40%;
  right: 45px;
  @media (max-width: 1497px) {
    right: 30px;
  }
  @media (max-width: 1440px) {
    right: 10px;
  }
  @media (max-width: 1430px) {
    right: 43px;
  }
  @media (max-width: 1390px) {
    right: 30px;
  }
  @media (max-width: 1340px) {
    right: 15px;
  }
  @media (max-width: 1290px) {
    right: 30px;
  }
  @media (max-width: 1260px) {
    right: 20px;
  }

  @media (max-width: 1228px) {
    right: 18px;
  }
}

@media (max-width: 1430px) {
  .slider {
    padding: 40px 120px;
  }
}
@media (max-width: 1330px) {
  .slider {
    padding: 40px 100px;
  }
}

@media (max-width: 1290px) {
  .slider {
    padding: 40px 80px;
  }
}

@media (max-width: 1240px) {
  .slider {
    padding: 40px;
  }
}
